{% extends "base.html" %}

{% block meta %}
<!-- this script must be loaded before the rest of the page content so we include it with the stylesheets-->
<meta name="google-signin-client_id" content="{{config['GOOGLE_CLIENT_ID']}}">
{% endblock %}

{% block style %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}

{% block content %}
<div class="g-signin2" data-onsuccess="onSignIn"></div>
{% endblock %}

{% block script %}
<script>
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  }
</script>
{% endblock %}
